.navbar, .about-button {
    background-color: rgb(68, 71, 145);
}

.fa-icon-calling {
    font-size: 20px;
    padding: 8px;
    color: rgb(85, 85, 85);
}

.fa-icon-group {
    color: green;
    font-size: 25px;
    color: rgb(68, 71, 145);
}

.icon-navbar {
    color: white;
}

.fa-trash {
    color: rgb(214, 76, 76);
}

.icon-completed {
    color: rgb(55, 212, 232);
}

.icon-not-completed {
    color: rgb(214, 76, 76);
}

.option-list {
    background-color: rgb(238, 238, 238);
}


/* scrollbar */

.option-list-outer-div {
    overflow-y: scroll;
    min-height: 92vh;
    max-height: 92vh;
}

.activity-list {
    margin-top: 0px;
}

.sidebar-icons {
    overflow-y: scroll;
    min-height: 90vh;
    max-height: 90vh;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.option-list-outer-div::-webkit-scrollbar .activity-content::-webkit-scrollbar {
    width: 6px;
}


/* Handle */

.option-list-outer-div::-webkit-scrollbar-thumb .activity-content::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.option-list-outer-div::-webkit-scrollbar-thumb:hover .activity-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.option-content,
.feed-form {
    background-color: rgb(248, 248, 248);
}

.option-content-chats-div {
    min-height: 71vh;
    max-height: 72vh;
    overflow-y: scroll;
}


/* Hide scrollbar for Chrome, Safari and Opera */

.option-content-chats-div::-webkit-scrollbar {
    width: 6px;
}


/* Handle */

.option-content-chats-div::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

.option-content-chats-div::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Scrollbar end */

.row {
    --bs-gutter-: 0;
}

.people-thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 42px;
}

.people-thumbnail-msg {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 42px;
}

.message-style {
    min-width: 100px;
    max-width: 500px;
}

.message-container {
    margin-top: 0px;
}

.one-message-box-self {
    padding-right: 10%;
}

.activity-content {
    min-height: 82vh;
    max-height: 82vh;
    overflow-y: scroll;
}

.activity-list {}

.activity-content::-webkit-scrollbar {
    width: 6px;
}


/* Handle */

.activity-content::-webkit-scrollbar-thumb {
    background: #888;
}

.activity-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Scrollbar end */

.feed-delete-icon {
    color: rgb(204, 81, 81);
}

.office-icons {
    width: 40px;
}

.page-not-found {
    width: 40%;
    height: 40%;
}